<h1>Welcome <%= @user.name %>!</h1>

<h3>Who do you want to message?</h3>
<ul>
  <% @otherUsers.each do |otherUser| %>
    <li><%= link_to "#{otherUser.name}", messages_path(:id => "#{otherUser.id}") %></li>
  <% end %>
</ul>
